<h1>编辑诉求</h1>

<div class="card" style="">
  <div class="card-body">
    <%= render 'edit_form', complaint: @complaint %>
  </div>
</div>

<%= link_to '查看诉求', @complaint, class: "btn btn-primary", style: "color: gainsboro; margin: 1%auto;"%> <%= link_to '返回', complaints_path, class: "btn btn-primary", style: "color: gainsboro; margin: 1%auto;" %>