// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inputBox {
  width: 20%;
  margin:1% auto;
}

.loginBox {
  width: 10%;
  margin:1% auto;
  text-align:center;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
}

.center-in-center{
  padding: 10% 0;
}

.brandPhoto {
  width:7%;
  height:7%;
}

.loginSurface {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  background: url("login.jpeg")
              no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tableItem {
  color: #1b1e21;
  background-color: transparent;
}

.labelLine {
  font-weight: bold;
  font-size: small;
  margin: 2%auto;
}

.textBoxLine {
  margin: 2%auto;
  width: 100%;
}

.downLine {
  margin: 2%auto;
  width: 100%;
  text-align: center;
}