// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inputBox {
  width: 20%;
  margin:1% auto;
}

.loginBox {
  width: 10%;
  margin:1% auto;
  text-align:center;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
}

.center-in-center{
  padding: 10% 0;
}

.loginSurface {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
  background: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fup.enterdesk.com%2Fedpic%2F80%2F8b%2F4f%2F808b4f44d2fba5e066020485a24e333c.jpg&refer=http%3A%2F%2Fup.enterdesk.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1643104570&t=6d4d00b55dc10209dec82de112e28e9a")
              no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tableItem {
  color: #1b1e21;
  background-color: transparent;
}

.labelLine {
  font-weight: bold;
  font-size: small;
  margin: 2%auto;
}

.textBoxLine {
  margin: 2%auto;
  width: 100%;
}

.downLine {
  margin: 2%auto;
  width: 100%;
  text-align: center;
}