
.proRow {
    display: flex;
    flex-wrap: wrap;
}

.proBig {
    width: 235px;
    margin: 15px 15px;
    position: relative;
}

.proIntro {
	font-weight: bold;
}

.proCatagory {
	font-weight: bold;
}


.pro {
    border: 1px solid #ccc;
    height: 360px;
}

.proImg {
    width: 235px;
    height: 196px;
    text-align: center;
}

.proImg img {
    height: 196px;
}

.singleProImg {
	width: 500px;
	height: 390px;
	text-align: center;
}

.proName {

}

.singleProName {
	
}

.proText {
    margin: 10px 10px;
    height: 120px;
}

.h1Category {
	text-align: center;
}

.h5Category {
    font-size: 1rem;
    margin: 0 auto;
    font-weight: initial;
}

.proSize {
    font-size: 0.6rem;
    color: #95989A;
    margin: 3px auto;
}

.proPrice span {
    font-size: 1.2rem;
    font-weight: initial;
    font-style: italic;
}

.proFrom {
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

.proBtn {
    width: 235px;
    height: 362px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    box-sizing: border-box;
    padding-top: 80px;
    margin-top: -362px;
    display: none;
}

.proBig:hover .proBtn {
    display: block;
}

.btnCategory {
    width: 167px;
    height: 50px;
    margin: 10px auto;
    background-color: #FCDD00;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.btn:hover {
    border: 1px solid #66503B;
}

