// Place all the styles related to the commodities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    font-size: 62.5%;
    /*10 ÷ 16 × 100% = 62.5%*/
    font-weight: lighter;
    background-image: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic.51yuansu.com%2Fbackgd%2Fcover%2F00%2F22%2F73%2F5b9c890ba5820.jpg%21%2Ffw%2F780%2Fquality%2F90%2Funsharp%2Ftrue%2Fcompress%2Ftrue&refer=http%3A%2F%2Fpic.51yuansu.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1641698224&t=5a91f0f8d2c52a50d2a0b03141511166"); 
    background-size: 100% 100%;
    /*background-image: url("http://pic.616pic.com/bg_w1180/00/06/90/HyJy99S3LL.jpg!/fw/1120");*/
}

h1 {
    font-size: 2.4rem;
    /*2.4em × 10 = 24px */
}

p {
    font-size: 0.88rem;
    /*1.4em × 10 = 14px */
}

li {
    font-size: 0.88rem;
    /*1.4 × ? = 14px ? */
}

.proRow {
    display: flex;
    flex-wrap: wrap;
}

.proBig {
    width: 235px;
    margin: 15px 15px;
    position: relative;
}

.proIntro {
	font-weight: bold;
}

.proCatagory {
	font-weight: bold;
}


.pro {
    border: 1px solid #ccc;
    height: 360px;
}

.proImg {
    width: 235px;
    height: 196px;
    text-align: center;
}

.proImg img {
    height: 196px;
}

.singleProImg {
	width: 500px;
	height: 390px;
	text-align: center;
}

.proName {

}

.singleProName {
	
}

.proText {
    margin: 10px 10px;
    height: 120px;
}

h5 {
    font-size: 1rem;
    margin: 0 auto;
    font-weight: initial;
}

.proSize {
    font-size: 0.6rem;
    color: #95989A;
    margin: 3px auto;
}

.proPrice span {
    font-size: 1.2rem;
    font-weight: initial;
    font-style: italic;
}

.proFrom {
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

.proBtn {
    width: 235px;
    height: 362px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    box-sizing: border-box;
    padding-top: 80px;
    margin-top: -362px;
    display: none;
}

.proBig:hover .proBtn {
    display: block;
}

.btn {
    width: 167px;
    height: 50px;
    margin: 10px auto;
    background-color: #FCDD00;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.btn:hover {
    border: 1px solid #66503B;
}
