// Place all the styles related to the sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commentBody {
	background-color: #fff;
	width: 700px;
	position: relative;
	left: 27%;
}

.headPosition {
	position: relative;
	left: 27%;
}


