<h1>编辑类别</h1>

<%= render 'form', category: @category %>

<%= link_to '查看', @category, class:'btn btn-primary btnCommodity', style: "color: gainsboro" %> 
<%= link_to '返回', categories_path, class:'btn btn-primary btnCommodity', style: "color: gainsboro" %>
