<body class="loginSurface" >

<h1 class="text-center">用户信息修改</h1>

<div class="card accountCard">
  <div class="card-header">用户信息</div>
  <div class="card-body">
  <%= render 'form', account: @account %>
  </div>
</div>

</body>
