<body class="loginSurface" >

<h1 class="text-center">账户信息修改</h1>

<div class="card" style="width: 30%; margin:1% auto;">
  <div class="card-body">
  <%= render 'form', account: @account %>
  </div>
</div>

</body>
