<h1 style="text-align: center">销售数据统计</h1>

<%= javascript_include_tag 'statistics', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval': false %>

<% if current_seller? %>
  <% commodities = Commodity.all.filter { |c| c.shop.seller.account == current_account } %>
<% else %>
  <% commodities = Commodity.all %>
<% end %>

<div style="text-align: center">
  <svg id="app"></svg>
</div>
<%= javascript_tag do %>
  show_data(<%= raw commodities.map { |c| c.sales_volume }.as_json %>,<%= raw commodities.map { |c| c.name + "@" + c.shop.name }.as_json %>)
<% end %>
